body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.o_c{
    color: orange;
}
.flex_box{
    display: flex;
    padding-left: 2%;
}
.h_w{
    width: 50%;
}
.h_w img{
    width: 80%;
}
p{
    margin-bottom: 40px;
}
.btn{
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-color: orange;
    padding: 10px 45px;
    border-radius: 7px;
    
}
.sec{
    background-image: url(images/download.jfif);
    background-repeat:no-repeat;
    background-position:0%;
    background-size: 50%;

}
.sec_2{
    background-image: url(images/images.png);
    background-repeat:no-repeat;
    background-position:right;
    background-size: 50%;

}
.center_text{
    text-align: right;
}
.exp{
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    background-image: url(images/download.jfif);
    background-repeat:no-repeat;
    background-position: right;
    border-left: 5px solid orange;
    border-radius: 8px;

}
footer{
    text-align: center;
    margin: 2%;
    font-size: larger;
}
